<div class="text-white bg-black">
  <div
    class="flex flex-col md:flex-row max-w-[1104px] mx-auto items-center py-14 md:justify-between lg:justify-normal md:mx-10 lg:mx-auto"
  >
    <div class="space-y-8 flex flex-col justify-between md:space-y-32">
      <a routerLink="/">
        <img
          class="max-w-[170px]"
          src="assets/images/shared/logo-white.svg"
          alt=""
        />
      </a>
      <div class="flex relative w-[154px] justify-between">
        <div class="group">
          <a class="block group-hover:hidden" href="https://www.facebook.com/" target="_blank"><img src="assets/images/shared/facebook-white.svg" alt=""/></a>
          <a class="hidden group-hover:block" href="https://www.facebook.com/" target="_blank"><img src="assets/images/shared/facebook.svg" alt=""></a>
        </div>
        <div class="group">
            <a class="block group-hover:hidden" href="https://www.youtube.com/" target="_blank"><img src="assets/images/shared/youtube-white.svg" alt=""/></a>
            <a class="hidden group-hover:block" href="https://www.youtube.com/" target="_blank"><img src="assets/images/shared/youtube.svg" alt=""></a>
          </div>
        <div class="group">
            <a class="block group-hover:hidden" href="https://twitter.com/home" target="_blank"><img src="assets/images/shared/twitter-white.svg" alt=""/></a>
            <a class="hidden group-hover:block" href="https://twitter.com/home" target="_blank"><img src="assets/images/shared/twitter.svg" alt=""></a>
          </div>
        <div class="group">
            <a class="block group-hover:hidden" href="https://www.pinterest.com/" target="_blank"><img src="assets/images/shared/pinterest-white.svg" alt=""/></a>
            <a class="hidden group-hover:block" href="https://www.pinterest.com/" target="_blank"><img src="assets/images/shared/pinterest.svg" alt=""></a>
          </div>
        <div class="group">
            <a class="block group-hover:hidden" href="https://www.instagram.com/" target="_blank"><img src="assets/images/shared/instagram-white.svg" alt=""/></a>
            <a class="hidden group-hover:block" href="https://www.instagram.com/" target="_blank"><img src="assets/images/shared/instagram.svg" alt=""></a>
          </div>
      </div>
    </div>
    <div
      class="flex flex-col md:absolute lg:static md:flex-row lg:flex-col mb-[119px] md:mb-0 mt-[49px] md:mt-0 uppercase text-center gap-5 lg:gap-7 lg:ml-[109px] md:text-start"
    >
      <a class="hover:opacity-30" routerLink="/">home</a>
      <a class="hover:opacity-30" routerLink="/stories">stories</a>
      <a class="hover:opacity-30" routerLink="/features">features</a>
      <a class="hover:opacity-30" routerLink="/pricing">pricing</a>
    </div>
    <div
      class="flex flex-col md:items-end w-full space-y-8 md:space-y-32 items-center"
    >
      <div class="max-w-[172px]">
        <app-arrow-button arrowButtonText="GET AN INVITE"></app-arrow-button>
      </div>
      <p
        class="text-white text-center text- font-normal text-[15px] opacity-50"
      >
        Copyright 2019. All Rights Reserved
      </p>
    </div>
  </div>
</div>
