.logo-container {
  width: 2rem;
  height: 2rem;
  position: relative;

  a {
    position: absolute;
    left: 0;
    top: 0;

    &:first-of-type {
      z-index: 1;

      &:hover {
        transition: 0.2s;
        opacity: 0;
      }
    }
  }
}
