<div class="mt-7 mx-6 md:mx-10 lg:mx-0">
  <div
    class="flex justify-between min-w-[200px] max-w-[1104px] mx-auto items-center md:mb-4"
  >
    <a routerLink="/"
      ><img src="../../../assets/images/shared/logo.svg" alt=""
    /></a>
    <div
      class="hidden md:flex flex-row gap-[37px] text-xs font-bold tracking-widest uppercase"
    >
      <a class="hover:opacity-30" routerLink="/stories">stories</a>
      <a class="hover:opacity-30" routerLink="/features">features</a>
      <a class="hover:opacity-30" routerLink="/pricing">pricing</a>
    </div>
    <app-button class="hidden md:block w-[158px]" buttonText="get an invite" bgclr="bg-black"></app-button>
    <div class="flex md:hidden min-h-[36px] min-w-[36px] items-center justify-end" (click)="toggleOn = !toggleOn">
      <img
        src="../../../assets/images/shared/mob-menu.svg"
        alt=""
        *ngIf="!toggleOn"
      />
      <img
        src="../../../assets/images/shared/mob-close.svg"
        alt=""
        *ngIf="toggleOn"
      />
    </div>
  </div>
  <div
    *ngIf="toggleOn"
    class="flex bg-white md:hidden flex-col text-center text-[15px] font-bold tracking-widest uppercase space-y-5 my-8"
  >
    <a routerLink="/stories" class="">stories</a>
    <a routerLink="/features" class="">features</a>
    <a routerLink="/pricing" class="">pricing</a>
    <hr class="h-[2px] bg-black opacity-25" />
    <app-button class="" buttonText="get an invite" bgclr="black"></app-button>
  </div>
</div>
