<app-header></app-header>
<div class="mb-[112px]">
    <app-hero-section bgClr = 'black' mobImg = "../../../assets/images/home/mob-create-and-share.jpg" tabImg = "../../../assets/images/home/tab-create-and-share.jpg" deskImg = "../../../assets/images/home/create-and-share.jpg"></app-hero-section>
    <app-hero-section mobImg = "../../../assets/images/home/mob-beautiful-stories.jpg" tabImg = "../../../assets/images/home/tab-beautiful-stories.jpg" deskImg = "../../../assets/images/home/beautiful-stories.jpg"></app-hero-section>
    <app-hero-section mobImg = "../../../assets/images/home/mob-designed-for-everyone.jpg" tabImg = "../../../assets/images/home/tab-designed-for-everyone.jpg" deskImg = "../../../assets/images/home/designed-for-everyone.jpg"></app-hero-section>
</div>
<p class="text-4xl text-red-500 text-center">home works</p>
<div class="flex flex-col lg:flex-row max-w-[1104px] mx-auto md:mx-10 lg:mx-auto gap-y-[56px] md:gap-y-[72px] lg:gap-y-[104px] mb-[91px] md:mb-[112px] lg:mb-[160px]">
    <app-site-info srcImg="../../../assets/images/features/responsive.svg" header="100% Responsive" paragraph="No matter which the device you&apos;re on, our site is fully responsive and stories look beautiful on any screen."></app-site-info>
    <app-site-info srcImg="../../../assets/images/features/no-limit.svg" header="No Photo Upload Limit" paragraph="Our tool has no limits on uploads or bandwidth. Freely upload in bulk and share all of your stories in one go."></app-site-info>
    <app-site-info srcImg="../../../assets/images/features/embed.svg" header="Available to Embed" paragraph="Embed Tweets, Facebook posts, Instagram media, Vimeo or YouTube videos, Google Maps, and more. "></app-site-info>
</div>
<app-footer></app-footer>