<div class="bgImg h-72 flex font-webFont">
    <div class="my-auto mx-8 max-w-[1104px] lg:mx-auto flex flex-col md:flex-row w-full md:justify-between">
        <h2 class="max-w-[400px] text-white text-[32px] md:text-[40px] font-bold leading-10 md:leading-12 mb-6 md:mb-0 tracking-wider uppercase">We&apos;re in beta. Get your invite today!</h2>
        <div class="w-[168px] my-auto">
            <app-arrow-button textClr="white" arrowButtonText="GET AN INVITE"></app-arrow-button>
        </div>
    </div>
    <div class="w-32 h-[6px] bg-gradient-to-r from-clrFrom via-clrVia to-clrTo absolute left-8 md:w-[6px] md:h-72 md:bg-gradient-to-t md:left-0"></div>
</div>