<!-- <div class="bgImg" style="background-image: url('../../../assets/images/shared/mob-bg-beta.jpg');">
    <img class="block md:hidden w-full" src="../../../assets/images/shared/mob-bg-beta.jpg" alt="">
    <img class="hidden md:block lg:hidden w-full" src="../../../assets/images/shared/tab-bg-beta.jpg" alt="">
    <img class="hidden lg:block w-full" src="../../../assets/images/shared/bg-beta.jpg" alt="">
    <div class="absolute top-[50%] flex flex-col md:flex-row justify-between max-w-[1104px] mx-auto items-start md:items-center w-full">
        <h2 class="text-white text-[32px] font-bold leading-10 ">We&apos;re in beta. Get your invite today!</h2>
        <div class="w-[168px]">
            <app-arrow-button textClr="white" arrowButtonText="GET AN INVITE"></app-arrow-button>
        </div>
    </div>
</div> -->
<div class="bgImg static h-72 flex">
    <div class="my-auto mx-8 max-w-[1104px] lg:mx-auto flex flex-col md:flex-row w-full md:justify-between">
        <h2 class="max-w-[400px] text-white text-[32px] md:text-[40px] font-bold leading-10 md:leading-12 mb-6 md:mb-0 tracking-wider uppercase">We&apos;re in beta. Get your invite today!</h2>
        <div class="w-[168px] my-auto">
            <app-arrow-button textClr="white" arrowButtonText="GET AN INVITE"></app-arrow-button>
        </div>
    </div>
</div>