<app-header></app-header>
<app-hero-section></app-hero-section>
<div class="grid grid-flow-row md:grid-cols-2 lg:grid-cols-3 max-w-[1104px] mx-8 md:mx-10 lg:mx-auto gap-y-[56px] md:gap-y-[72px] lg:gap-y-[104px] mb-[91px] md:mb-[112px] lg:mb-[160px]">
    <app-site-info srcImg="../../../assets/images/features/responsive.svg" header="100% Responsive" paragraph="No matter which the device you&apos;re on, our site is fully responsive and stories look beautiful on any screen."></app-site-info>
    <app-site-info srcImg="../../../assets/images/features/no-limit.svg" header="No Photo Upload Limit" paragraph="Our tool has no limits on uploads or bandwidth. Freely upload in bulk and share all of your stories in one go."></app-site-info>
    <app-site-info srcImg="../../../assets/images/features/embed.svg" header="Available to Embed" paragraph="Embed Tweets, Facebook posts, Instagram media, Vimeo or YouTube videos, Google Maps, and more. "></app-site-info>
    <app-site-info srcImg="../../../assets/images/features/custom-domain.svg" header="Custom Domain" paragraph="With Photosnap subscriptions you can host your stories on your own domain. You can also remove our branding!"></app-site-info>
    <app-site-info srcImg="../../../assets/images/features/boost-exposure.svg" header="Boost Your Exposure" paragraph="Users that viewed your story or gallery can easily get notifed of new and featured stories with our built in mailing list."></app-site-info>
    <app-site-info srcImg="../../../assets/images/features/drag-drop.svg" header="Drag & Drop Image" paragraph="Easily drag and drop your image and get beautiful shots everytime. No over the top tooling to add friction to creating stories."></app-site-info>
</div>
<app-beta-section></app-beta-section>
<app-footer></app-footer>
