<div class="flex flex-col">
    <div class="flex gap-x-8 justify-center">
        <div *ngIf="!switchOn" class="font-bold text-lg capitalize leading-[25px] my-auto text-black">monthly</div>
        <div *ngIf="switchOn" class="font-bold text-lg capitalize leading-[25px] my-auto text-clrLightGrey ">monthly</div>
        <div>
            <input type="checkbox" id="switch" class="hidden"/>
            <label for="switch" (click)="toggle()"></label>
        </div>
        <div *ngIf="switchOn" class="font-bold text-lg capitalize leading-[25px] my-auto text-black">Yearly</div>
        <div *ngIf="!switchOn" class="font-bold text-lg capitalize leading-[25px] my-auto text-clrLightGrey ">Yearly</div>
    </div>


    <div class="flex flex-col lg:flex-row mt-10 max-w-[1104px] lg:mx-auto lg:justify-between space-x-[30px]">
        <div class="bg-clrpricingBg lg:w-[350px] mx-8 md:mx-10 lg:mx-0 text-center md:text-start lg:text-center md:px-10">
            <div class="flex flex-col md:flex-row md:justify-between lg:flex-col">
                <div class="mt-14 md:mt-10 lg:mt-14 max-w-[270px]">
                    <h4 class="font-bold text-2xl leading-[25px]">Basic</h4>
                    <p class="mt-4 text-[15px] leading-[25px] opacity-60 px-[22px] md:px-0 lg:px-[22px]">Includes basic usage of our platform. Recommended for new and aspiring photographers.</p>
                </div>
                <div class="mt-10 md:text-end lg:text-center">
                    <p class="text-[40px] leading-12 tracking-[4.2px] font-bold">$19.00</p>
                    <p class="opacity-60 text-15px leading-6">per month</p>
                </div>
            </div>
            <div class="w-72 mx-auto md:mx-0 lg:mx-auto my-10">
                <app-button buttonText = "PICK PLAN"></app-button>
            </div>
        </div>


        <div class="bg-black text-white lg:w-[350px] mx-8 md:mx-10 lg:mx-0 text-center md:text-start lg:text-center md:px-10">
            <div class="bg-gradient-to-tr from-clrFrom via-clrvia to-clrTo w-full h-[6px]"></div>
            <div class="flex flex-col md:flex-row md:justify-between lg:flex-col">
                <div class="mt-14 md:mt-10 lg:mt-14 max-w-[270px]">
                    <h4 class="font-bold text-2xl leading-[25px]">Basic</h4>
                    <p class="mt-4 text-[15px] leading-[25px] opacity-60 px-[22px] md:px-0 lg:px-[22px]">Includes basic usage of our platform. Recommended for new and aspiring photographers.</p>
                </div>
                <div class="mt-10 md:text-end lg:text-center">
                    <p class="text-[40px] leading-12 tracking-[4.2px] font-bold">$19.00</p>
                    <p class="opacity-60 text-15px leading-6">per month</p>
                </div>
            </div>
            <div class="w-72 mx-auto md:mx-0 lg:mx-auto my-10">
                <app-button buttonText = "PICK PLAN" bgclr = "white"></app-button>
            </div>
        </div>


        <div class="bg-clrpricingBg lg:w-[350px] mx-8 md:mx-10 lg:mx-0 text-center md:text-start lg:text-center md:px-10">
            <div class="flex flex-col md:flex-row md:justify-between lg:flex-col">
                <div class="mt-14 md:mt-10 lg:mt-14 max-w-[270px]">
                    <h4 class="font-bold text-2xl leading-[25px]">Basic</h4>
                    <p class="mt-4 text-[15px] leading-[25px] opacity-60 px-[22px] md:px-0 lg:px-[22px]">Includes basic usage of our platform. Recommended for new and aspiring photographers.</p>
                </div>
                <div class="mt-10 md:text-end lg:text-center">
                    <p class="text-[40px] leading-12 tracking-[4.2px] font-bold">$19.00</p>
                    <p class="opacity-60 text-15px leading-6">per month</p>
                </div>
            </div>
            <div class="w-72 mx-auto md:mx-0 lg:mx-auto my-10">
                <app-button buttonText = "PICK PLAN"></app-button>
            </div>
        </div>
    </div>


</div>




<!-- 
<div *ngIf="switchOn" class="text-red-600">10</div>
<div *ngIf="!switchOn" class="text-yellow-600">20</div> -->