<div [class]="textClr === 'black' ? 'text-black' : 'text-white'" class="flex font-webFont justify-between w-full items-center my-auto cursor-pointer group">
  <p class="text-xs font-bold tracking-[2px] uppercase group-hover:underline">{{arrowButtonText}}</p>
  <svg class="group-hover:underline"
    xmlns="http://www.w3.org/2000/svg"
    width="42"
    height="14"
    viewBox="0 0 42 14"
    fill="none"
  >
    <path [class]="textClr === 'black' ? 'stroke-black' : 'stroke-white'" d="M0 7H41.864" />
    <path [class]="textClr === 'black' ? 'stroke-black' : 'stroke-white'" d="M35.4282 1L41.4282 7L35.4282 13" />
  </svg>
</div>
