<table class="flex justify-between flex-col max-w-[1104px] mx-auto">
    <tr class="">
        <div class="flex flex-col md:flex-row justify-between">
            <th>THE FEATURES</th>
                <th>BASIC</th>
                <th>PRO</th>
                <th>BUSINESS</th>
        </div>
    </tr>
    <tr>
        <div class="flex flex-col md:flex-row">
            <th>UNLIMITED STORY POSTING</th>
            <div class="">
                <td><img src={{checked}} alt=""></td>
                <td><img src={{checked}} alt=""></td>
                <td><img src={{checked}} alt=""></td>
            </div>
        </div>
    </tr>
    <tr>
        <div class="flex flex-col md:flex-row">
            <th>UNLIMITED PHOTO UPLOAD</th>
            <div class="">
                <td><img src={{checked}} alt=""></td>
                <td><img src={{checked}} alt=""></td>
                <td><img src={{checked}} alt=""></td>
            </div>
        </div>
    </tr>
    <tr>
        <div class="flex flex-col md:flex-row">
            <th>EMBEDDING CUSTOM CONTENT</th>
            <div class="">
                <td></td>
                <td><img src={{checked}} alt=""></td>
                <td><img src={{checked}} alt=""></td>
            </div>
        </div>
    </tr>
</table>